@media (max-width: 1300px) {
  .countdown-section-vector img {
    width: 350px;
  }
}

@media (max-width: 1024px) {
  .h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  .h3 {
    font-size: 2.8rem;
    line-height: 37px;
  }
  .h2 {
    font-size: 4.2rem;
    line-height: 5rem;
  }
  .h4 {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .header-logo > a > img {
    width: 130px;
    height: 120px;
  }

  .header-nav {
    display: none;
  }
  .intro button {
    display: inline-block;
    font-size: 2.8rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .intro button a span {
    display: inline-block;
  }
  .hamburger-btn {
    display: block;
    font-size: 3.3rem;
    cursor: pointer;
  }
  .intro .hero-content h2 {
    font-size: 4.1rem;
    line-height: 4.8rem;
  }
  .intro .hero-img img {
    height: 600px;
  }
  .intro .hero-content p {
    font-size: 2rem;
    line-height: 3rem;
  }
  .intro .hero-content p span {
    font-size: 1.9rem;
  }
  .about-section-top-flex {
    column-gap: 80px;
  }
  .countdown-section {
    margin: 70px auto 85px auto;
  }
  .countdown-section-vector {
    top: 60px;
    right: 20px;
  }

  .countdown-section-vector img {
    width: 310px;
  }
  /* ----------Counter Responsive Classes------------ */

  .flipdown .rotor-group {
    padding-right: 20px !important;
  }

  .flipdown .rotor-group-heading:before {
    font-size: 1.5rem !important;
    height: 26px !important;
    line-height: 20px !important;
  }
  .flipdown .rotor-leaf,
  .flipdown .rotor {
    height: 60px !important;
  }

  .flipdown .rotor,
  .flipdown .rotor-leaf,
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    width: 40px !important;
  }
  .flipdown .rotor {
    font-size: 4rem !important;
    margin-right: 3px !important;
  }
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    height: 30px !important;
  }
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-top {
    line-height: 60px !important;
  }
  .flipdown .rotor,
  .flipdown .rotor-leaf,
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    width: 40px !important;
  }
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    height: 30px !important;
  }
  .flipdown .rotor,
  .flipdown .rotor-leaf,
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    width: 40px !important;
  }
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    height: 30px !important;
  }
  .flipdown .rotor,
  .flipdown .rotor-leaf,
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    width: 40px !important;
  }
  .flipdown .rotor-group:nth-child(n + 2):nth-child(-n + 3):after {
    bottom: 32px !important;
    height: 8px !important;
    width: 8px !important;
  }
  .flipdown .rotor-group:nth-child(n + 2):nth-child(-n + 3):before,
  .flipdown .rotor-group:nth-child(n + 2):nth-child(-n + 3):after {
    left: 89px !important;
  }
  .flipdown .rotor-group:nth-child(n + 2):nth-child(-n + 3):before {
    bottom: 16px !important;
    height: 8px !important;
    width: 8px !important;
  }
  /* ---------------Countdown Responsive Classes End-------------------- */
  .crousal-section {
    margin: 85px auto !important;
  }
  .RL-split-section-grid {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 20px;
    margin-bottom: 50px;
  }
  .split-section-content div h1 {
    padding: 14px 20px;
    margin-left: -90px;
  }
  .split-section-content div h4 {
    padding: 20px 20px 20px 40px;
  }

  .split-section-content div p {
    padding: 0 20px 0 40px;
  }
  .LR-split-section-grid-left {
    width: 100%;
  }

  .RL-split-section-grid-left h2 {
    text-align: right !important;
    width: 100%;
  }
  .RL-split-section-grid-left h4 {
    text-align: right !important;
    width: 100%;
  }

  .RL-split-section-grid-left p {
    text-align: right !important;
  }

  .LR-split-section-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }

  .RL-split-section-grid-right img,
  .LR-split-section-grid-left img {
    height: 360px;
    width: 100%;
    border-radius: 4px;
  }

  .RL-split-section-grid-left > div {
    padding: 20px 10px 0 0;
  }
  .LR-split-section-grid-right > div {
    padding: 20px 10px 0 0;
  }
  .LR-split-section-grid-right {
    height: fit-content;
  }
  .LR-split-section-grid-right p {
    margin-bottom: 0;
  }
  .team-section {
    margin: 85px auto;
  }
  .team-section-bottom-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .team-section-bottom-grid div:last-of-type img {
    display: none;
  }
  .split-modify-section-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 40px;
  }
  .split-modify-section-grid-left img {
    height: 400px;
  }
  .split-modify-section-grid-right {
    padding: 0;
  }
  .split-modify-section-grid-right h4 {
    margin-bottom: 12px;
    color: var(--dark-green);
  }
  .split-modify-section-grid-right-collage img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/0.65;
  }
  .split-modify-section-grid-right svg {
    position: absolute;
    top: -120px;
  }
  footer {
    margin-top: 85px;
  }
  .footer-bottom > div {
    padding: 13px 0;
  }

  .footer-top {
    grid-template-columns: 100%;
    padding: 40px 0 25px 0;
    grid-column-gap: 0;
    grid-row-gap: 65px;
  }
  .footer-top-left img {
    width: 180px;
    margin: 0 auto;
  }
  .footer-top-left {
    border-right: none;
  }

  .footer-top-right-middle p,
  .footer-top-right-middle span {
    text-align: center;
  }
  .footer-top-right-end span,
  .footer-top-right-end p {
    text-align: right;
  }
}

@media (max-width: 786px) {
  .h1 {
    font-size: 4.6rem;
    line-height: 4.8rem;
  }

  .h2 {
    font-size: 3.8rem;
    line-height: 4.5rem;
  }
  .h4 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .h3 {
    font-size: 2.6rem;
    line-height: 36px;
  }
  .para {
    line-height: 23px;
  }
  .header-logo > a > img {
    width: 100px;
    height: 90px;
  }

  .hamburger-btn {
    font-size: 3rem;
  }
  .hero-section {
    margin: 0 0 70px 0;
  }

  .intro .hero-content h2 {
    font-size: 3.3rem;
    line-height: 3.6rem;
  }
  .intro .hero-img img {
    height: 500px;
  }
  .intro .hero-content p {
    font-size: 1.9rem;
    line-height: 2.6rem;
  }
  .intro .hero-content p span {
    font-size: 1.8;
  }
  .intro .hero-content {
    top: 60%;
    transform: translateY(-60%);
  }
  .cta-btn a {
    font-size: 14.5px;
  }
  .about-section-top-flex {
    flex-direction: column;
    column-gap: 0;
    row-gap: 30px;
  }
  .countdown-section {
    margin: 70px auto;
  }
  .count-down h3 {
    font-size: 2.5rem;
  }
  .count-down .flipdown {
    margin-top: 20px;
  }
  .countdown-section-vector {
    top: -20px;
    right: 20px;
  }

  .countdown-section-vector img {
    width: 240px;
  }

  /* ----------------------------- */
  .split-section {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 24px;
  }
  .split-section-content {
    padding: 0;
    height: fit-content;
  }
  .split-section .split-section-img img {
    height: 400px;
  }
  .split-section-img h1 {
    display: block;
  }

  .split-section-content div h1 {
    display: none;
  }
  .split-section-content div h4 {
    padding: 0 0 20px 0;
  }

  .split-section-content div p {
    padding: 0;
    margin-bottom: 0;
  }
  .team-section {
    margin: 70px auto !important;
  }
  .LR-split-section-grid {
    grid-row-gap: 5px;
  }
  .RL-split-section-grid {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 5px;
    margin-bottom: 50px;
  }

  .RL-split-section-grid-right img,
  .LR-split-section-grid-left img {
    height: 300px;
  }

  .team-section {
    margin: 70px auto;
  }
  .team-section-bottom-grid {
    margin-top: 35px;
  }

  .team-section-bottom-grid div span {
    font-size: 16px;
    line-height: 20px;
  }
  .team-section-top-flex {
    flex-direction: column;
    column-gap: 0;
    row-gap: 30px;
  }
  footer {
    margin-top: 75px;
  }

  .footer-top-right {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 35px;
    padding: 0 20px 0 20px;
  }

  .footer-top-right-left span {
    text-align: center;
  }

  .footer-top-right-left nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
  }

  .footer-top-right-middle p,
  .footer-top-right-middle span {
    text-align: center;
  }
  .footer-top-right-end span,
  .footer-top-right-end p {
    text-align: center;
  }
  .form-des h3 {
    font-size: 1.6rem;
    line-height: 25px;
  }
  .form-des {
    margin-bottom: 45px;
    text-align: center;
  }
  .reason-form-icons {
    margin-bottom: 0;
  }
  .form-des h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 576px) {
  .h1 {
    font-size: 3.8rem;
    line-height: 4rem;
  }
  .h2 {
    font-size: 3.4rem;
    line-height: 4.2rem;
  }
  .h4 {
    font-size: 1.9rem;
    line-height: 2.7rem;
  }
  .h3 {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 30px;
  }
  .header-logo > a > img {
    width: 90px;
    height: 75px;
  }

  .hamburger-btn {
    font-size: 2.5rem;
  }
  .cta-btn a i {
    margin-left: 8px;
  }

  .para {
    font-size: 1.55rem;
  }
  .hero-section {
    margin: 0 0 60px 0;
  }
  .intro .hero-img img {
    height: 400px;
  }
  .intro .overlay {
    display: none;
  }
  .intro .hero-content {
    top: 80%;
    transform: translateY(-80%);
  }
  .intro .hero-content h2 {
    font-size: 2.7rem;
    line-height: 3.1rem;
  }
  .intro .hero-content p {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
  .intro .hero-content p span {
    font-size: 1.6rem;
  }
  .countdown-section {
    margin: 60px auto;
  }
  .countdown-section-vector img {
    width: 180px;
  }
  .count-down .flipdown {
    margin-top: 10px;
  }
  .countdown-section {
    padding: 40px 0;
  }
  .flipdown .rotor-group {
    padding-right: 20px !important;
  }

  .flipdown .rotor-group-heading:before {
    font-size: 0.8rem !important;
    height: 20px !important;
    line-height: 20px !important;
  }
  .flipdown .rotor-leaf,
  .flipdown .rotor {
    height: 50px !important;
  }

  .flipdown .rotor,
  .flipdown .rotor-leaf,
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    width: 30px !important;
  }
  .flipdown .rotor {
    font-size: 2.2rem !important;
    margin-right: 3px !important;
  }
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    height: 25px !important;
  }
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-top {
    line-height: 50px !important;
  }
  .flipdown .rotor,
  .flipdown .rotor-leaf,
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    width: 30px !important;
  }
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    height: 25px !important;
  }
  .flipdown .rotor,
  .flipdown .rotor-leaf,
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    width: 30px !important;
  }
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    height: 25px !important;
  }
  .flipdown .rotor,
  .flipdown .rotor-leaf,
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    width: 30px !important;
  }
  .flipdown .rotor-group:nth-child(n + 2):nth-child(-n + 3):after {
    bottom: 29px !important;
    height: 8px !important;
    width: 8px !important;
  }
  .flipdown .rotor-group:nth-child(n + 2):nth-child(-n + 3):before,
  .flipdown .rotor-group:nth-child(n + 2):nth-child(-n + 3):after {
    left: 69px !important;
  }
  .flipdown .rotor-group:nth-child(n + 2):nth-child(-n + 3):before {
    bottom: 13px !important;
    height: 8px !important;
    width: 8px !important;
  }

  .split-section .split-section-img img {
    height: 300px;
  }
  .crousal-section {
    margin: 60px 0 !important;
  }
  .brandLogo_1 img {
    width: 80px;
  }
  .brandLogo_2 img {
    width: 150px !important;
  }
  .brandLogo_3 img {
    width: 200px !important;
  }
  .RL-split-section-grid {
    margin-bottom: 23px;
  }
  .team-section {
    margin: 60px auto;
  }
  .team-section-bg {
    padding: 50px 0 50px 0;
  }
  .team-section-bottom-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 15px;
  }
  .team-section-bottom-grid div img {
    object-fit: cover;
    object-position: center;
    height: 260px;
  }

  .team-section-top-flex p {
    width: 100%;
  }

  .team-section-top-flex h3 {
    width: 95%;
  }

  .split-modify-section-grid-left img {
    height: 300px;
  }

  .split-modify-section-grid-left h2 {
    padding: 7px 20px;
  }
  .split-modify-section-grid-right-collage {
    grid-column-gap: 10px;
  }
  .split-modify-section-grid-right-collage img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/0.85;
  }
  footer {
    margin-top: 60px;
  }
  .footer-bottom > div {
    padding: 10px 0;
  }

  .footer-top {
    padding: 30px 0 25px 0;
    grid-row-gap: 35px;
  }
  .footer-top-left img {
    width: 160px;
    margin: 0 auto;
  }
  .footer-top-right {
    font-size: 1.5rem;
  }
  .form-des h3 {
    font-size: 1.4rem;
    line-height: 23px;
  }
  .form-des {
    margin-bottom: 40px;
  }
  .reason-form-icons {
    margin-bottom: 0;
  }
  .form-des h2 {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
  .popup-form-div {
    padding: 40px 30px;
  }
  .reason-form-icons button {
    font-size: 2.4rem;
  }
  .reason-form-submit-btn {
    padding: 10px 30px;
    font-size: 1.4rem;
  }
  .form-btns button {
    font-size: 1.45rem;
  }
  .currency-btns div {
    padding: 5px 4px;
  }
  .currency-btns div button {
    padding: 7.5px 7px;
  }
  .input-fields {
    column-gap: 10px;
  }
  .input-fields div label,
  .currency-btns label,
  .textarea label {
    font-size: 1.38rem;
  }
  .input-fields input,
  .textarea textarea {
    padding: 10px;
  }
}
